/**** Google Font **********/
// @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/**** Global Variables **********/
$primary-font: "Roboto", sans-serif;
$primary-white: #fff;
$primary-color: #43c3d1;
$primary-black: #061123;
$secondary-color: #0284ff;
$tertiary-color: #2f4858;

body {
  font-family: $primary-font;
  font-size: 1em;
  color: $primary-black;
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: $primary-black;
  &::hover {
    color: $primary-color;
  }
}

.primary-text {
  color: $primary-color;
}

.secondary-text {
  color: $secondary-color;
}

ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}

.container {
  max-width: 1540px;
}

.nav-tabs{
  .nav-link{
    color: $primary-black;
  }
}
.btn {
  &.btn-size {
    background-color: rgba($primary-black, 0.03);
    border-color: rgba($primary-black, 0.05);
    padding: 7px 15px;
    &.active {
      border-color: rgba($primary-black, 0.2);
    }
    &:hover {
      border-color: rgba($primary-black, 0.2);
      color: $primary-black;
    }
  }
  &.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    padding: 7px 25px;
    &:hover {
      background-color: $primary-black;
      border-color: $primary-black;
      color: $primary-white;
    }
  }

  &.btn-secondary {
    background-color: $primary-black;
    border-color: $primary-black;
    color: $primary-white;
    padding: 7px 25px;
    &:hover {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $primary-white;
    }
  }
}

header {
  .nav-expand-lg {
    .navbar-nav {
      .nav-link {
        padding: 10px 15px;
        font-size: 1.2em;
        font-weight: 500;
        color: #061123;
        &:hover{
          color: $primary-color;
        }
      }
    }
  }
}

footer {
  background-color: $tertiary-color;
  h2 {
    font-size: 1.5em;
  }
  ul {
    li {
      margin-bottom: 10px;
      a {
        font-size: 1.2em;
        color: $primary-white;
        &:hover{
          color: $primary-color;
        }
      }
    }
  }
  .spotlight {
    border-top: 1px solid rgba($primary-white, 0.1);
    border-bottom: 1px solid rgba($primary-white, 0.1);
  }
}

.section-1 {
  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        height: 650px;
        .content {
          height: 100%;
          width: 100%;
          background-size: cover;
          // background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.product {
  .card-img {
    overflow: hidden;
    border-radius: 10px;
    img {
      border-radius: 10px;
      transition: all 0.3s ease-out;
    }
    &:hover {
      img {
        scale: 1.2;
      }
    }
  }
  .card-body {
    padding: 0;
    a {
      font-size: 1.2em;
      &:hover{
          color: $primary-color;
        }
    }
    .price {
      font-size: 1.2em;
      padding-bottom: 20px; 
      span {
        color: rgba($primary-black, 0.8);
      }
    }
  }
}

.product-detail{
  .mySwiper{
    .swiper-slide{
      height: auto!important;
    }
  }

  .price{
    font-weight: bold;
    span{
      color: rgba($color: $primary-black, $alpha: 0.50);
    }
  }
}

@media (min-width: 200px) and (max-width: 786px) {
  .section-1 {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          height: 400px;
        }
      }
    }
  }
}
